// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: $background-color;
  box-sizing: border-box;
  height: 100vh;
  min-height: 100%;
  font-family: 'Inter', sans-serif;
}

/**
  * Make all elements from the DOM inherit from the parent box-sizing
  * Since `*` has a specificity of 0, it does not override the `html` value
  * making all elements inheriting from the root box-sizing value
  * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
  */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
  * Basic styles for links
  */
a {
  text-decoration: none;

  @include on-event {
    color: $text-color;
    text-decoration: underline;
  }
}

svg {
  cursor: pointer;
}

label {
  color: $text-color;
  text-transform: capitalize;
  margin-bottom: 20px;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color: $border-color;
  height: 1px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}