// colors
$color-dark-green: #005555;
$color-light-green: #4ba8a8;
$color-dark-yellow: #f8b400;
$background-color: #f3f4f8;
$title-color: #cac8c8;
$text-color: #8d98a9;
$border-color: #eff1f3;
$color-black:  #000000;
$color-white:  #ffffff;
$input-background-color: #e8edf1;
$menu-icon-color: #5f6388;

// font-sizes
$small-font: 12px;
$medium-font: 16px;
$large-font: 18px;

// spacing
$sm: 8px;
$md: 16px;
$lg: 24px;

// Screen sizes
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;